<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<title th:text="${titulo}">TODO supply a title</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div layout:fragment="cuerpo">
		<div class="card-header text-center alert-secondary">
			<h5 th:text="${titulo}"></h5>
		</div>
		
		<div class="row bg-dark text-secondary col-sm-12">
			<div class="col-12">
				<div class="card mt-4">
					<div class="card-body">
						<table id="tablaCajas"
							class="table table-striped table-bordered table-hover table-sm table-success "
							style="width: 100%;">
							<span id="success" th:text="${success}" hidden="true"></span>
							<span id="error" th:text="${error}" hidden="true"></span>
							<span id="warning" th:text="${warning}" hidden="true"></span>
							<thead>

								<tr>
									<th>Nro</th>
									<th>Usuario</th>
									<th>Monto Inicial</th>
									<th>Monto Final</th>
									<th>Fecha de apertura</th>
									<th>Fecha de cierre</th>
									<th>Total Venta</th>
									<th>Estado</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="c : ${cajas}">
									<td th:text="${c.id}"></td>
									<td th:text="${c.usuario}"></td>
									<td th:text="${c.montoInicial}"></td>
									<td th:text="${c.montoFinal}"></td>
									<td
										th:text="${#temporals.format(c.fecha_Hora_apertura, 'dd-MM-yyyy HH:mm ')}"></td>
									<td
										th:text="${#temporals.format(c.fecha_Hora_cierre, 'dd-MM-yyyy HH:mm ')}"></td>
									<td th:text="${c.total}"></td>

									<td th:text="${c.activo} ? 'Activo' : 'Inactivo'"></td>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>